$filter-name-old: '.ow-filter-old';
$filter-name: '.ow-filter';

#{$filter-name-old} {
  position: relative;
  transition: transform 0.2s ease-in;

  &-btn-perv,
  &-btn-next {
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    // background: url(~@/assets/images/btn-tab-arrow.png) no-repeat 0 0/10px;
    width: 10px;
    height: 100%;
    color: #fff;
    font-size: 11px;
  }

  &-btn-perv {
    left: 0;
    border-radius: 2px 0 0 2px;
  }
  &-btn-next {
    right: 0;
    // transform: rotate(180deg);
    border-radius: 0 2px 2px 0;
  }

  &-btn-perv:hover,
  &-btn-next:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }

  &.type-base {
    // display: inline-flex;
    padding: 2px 2px;
    background-color: #e1e6ea;
    border-radius: 2px;
    overflow: hidden;

    #{$filter-name-old}-list {
      display: flex;
      gap: 2px;
      li {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        border-radius: 2px;
        white-space: nowrap;
        color: #333;
        cursor: pointer;
        border: 1px solid transparent;
        font: bold 12px sans-serif;
        &:hover {
          background-color: #fff;
          border: 1px solid #fff;
          color: #333;
        }
        &.selected {
          background-color: #4e95f5;
          border: 1px solid #176de2;
          color: #fff;
        }
      }
    }
  }
}

#{$filter-name} {
  width: var(--width, auto);
  overflow: hidden;
  position: relative;
  display: inline-flex;
  height: 24px;
  align-items: center;
  background-color: nth($clrs-achromatic, 8);
  border-radius: 2px;
  padding: 0 2px;
  input[type='radio'] {
    @include sr-only();
    &:checked + #{$filter-name}-button {
      border: solid 1px nth($clrs-base, 2);
      background-color: nth($clrs-base, 7);
      color: #fff;
    }
  }
  &-list {
    display: flex;
    li {
      white-space: nowrap;
    }
  }
  &-button {
    display: inline-flex;
    align-items: center;
    border-radius: 2px;
    height: 20px;
    padding: 0 6px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -1px;
    color: nth($clrs-achromatic, 2);
    border: 1px solid #e1e6ea;
    cursor: pointer;
    strong {
      display: inline-flex;
      margin-left: 4px;
      color: nth($clrs-accent, 1);
    }
    span {
      display: inline-flex;
      margin-left: 4px;
    }

    &:hover {
      background-color: #fff;
      border-color: transparent;
    }
  }
  &-btn-move {
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    // background: url(~@/assets/images/btn-tab-arrow.png) no-repeat 0 0/10px;
    width: 10px;
    height: 100%;
    color: #fff;
    font-size: 11px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }
    &.prev {
      left: 0;
      border-radius: 2px 0 0 2px;
    }
    &.next {
      right: 0;
      border-radius: 0 2px 2px 0;
    }
  }

  &-row {
    $padding: 3px;
    padding: calc(var(--bs-gutter) - #{$padding}) 20px;
    position: relative;
    width: 100%;
    background-color: nth($clrs-achromatic, 8);

    .ow-filter-list-row {
      @include d-flex(normal, center);
      width: 100%;
    }
    
    .ow-filter-list-col {
      @include d-flex(normal, center);
      padding: $padding 0;
      position: relative;
      flex: 1;
      
      dl {
        @include d-flex(normal, center);
        padding-left: calc(var(--bs-gutter) * 1.5);
        position: relative;
        
        &::before {
          position: absolute;
          content: "";
          top: 50%;
          left: 0;
          width: calc(var(--bs-gutter) * .5);
          height: calc(var(--bs-gutter) * .5);
          background-color: nth($clrs-achromatic, 2);
          transform: translateY(-50%);
        }
        
        dt {
          width: var(--width, auto);
          font-weight: bold;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        + dd {
          margin-left: var(--bs-gutter);
        }

        dd {
          @include d-flex(normal, center);
        }
      }
    }
  }

  &-tab {
    $height: 24px;
    $colors: #677280, #677280, #7f8994, #8b949f, #98a0aa, #a3abb4, #b0b8bf;
    @include d-flex(normal, center);

    .ow-filter-tab-wrap {
      @extend #{$filter-name};
      padding: 0;

      + .ow-filter-tab-btn.more {
        margin-left: 2px;
      }
    }

    .ow-filter-tab-btn {
      padding: 0 6px;
      height: $height;
      line-height: 100%;
      border-radius: 2px;

      &.normal {
        $margin: 1px;
        
        margin: $margin 0;
        height: calc(#{$height} - calc(#{$margin} * 2));
        border-radius: 2px;
        background-color: nth($clrs-achromatic, 13);
      }
      
      &.active {
        $margin: 2px;
        
        margin: $margin calc(#{$margin} * 2);
        height: calc(#{$height} - calc(#{$margin} * 2));
        color: white;
        border: 1px solid nth($clrs-base, 2);
        border-radius: 2px;
        background-color: nth($clrs-base, 7);
        
        + .ow-filter-tab-btn:not(.active) {
          margin-left: 0;
        }
      }

      + .ow-filter-tab-btn:not(.active) {
        margin-left: 1px;
      }

      + .ow-filter-tab-btn {
        &:not(.active, .start, .end) {
          border-radius: 0;
        }
      }
      
      &.depth {
        color: white;
      }

      &.start {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      
      &.end {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &.more {
        @include d-flex(normal, center);
        border-radius: 2px;
        background-color: nth($clrs-achromatic, 8);
        
        i.circle {
          width: 3px;
          height: 3px;
          border-radius: 50%;
          background-color: nth($clrs-achromatic, 2);

          &:not(:first-child) {
            margin-left: 4px;
          }
        }
      }
    }

    &.accordion {
      .ow-filter-tab-btn {
        margin-left: 1px;
        
        &.active {
          margin: 0;
          height: 100%;
        }

        + .ow-filter-tab-btn {
          margin-left: 1px;
        }
      }
    }

    .filter-display {
      padding: 0 calc(var(--bs-gutter) * 3);
      font-weight: bold;
    }
    
    @for $i from 1 through length($colors) {
      .#{level}-#{$i}.depth {
        background-color: nth($colors, $i);
      }
    }
  }
}
// filter list
.contents-box-wrap {
  & + & {
    .contents-box-list {
      border-left: 0;
    }
  }
}
.contents-box {
  flex: 1;
  height: 100%;
  h3 {
    + .contents-box-list {
      margin-top: var(--bs-gutter);
    }
  }
  .contents-box-list {
    height: 100%;
    border: 1px solid nth($clrs-border, 3);
    overflow-y: auto;
    li {
      display: flex;
      a {
        padding: calc(#{var(--bs-gutter)} * 0.5) var(--bs-gutter);
        flex: 1;
        border-bottom: 1px solid nth($clrs-border, 1);
        &.active {
          &,
          &:hover {
            color: white;
            background-color: nth($clrs-base, 8);
          }
        }
      }
    }
  }
}
