$clrs-achromatic: getColors("achromatic");
$clrs-base: getColors("base");
$clrs-border: getColors("border");
$ow-tag: ".ow-tag";

#{$ow-tag} {
  $size: 16px;
  $size-group: 24px;
  $radius: 2px;
  display: inline-flex;
  height: $size;
  line-height: $size ;
  padding: 0 6px;
  align-items: center;
  background-color: nth($clrs-base, 3);
  border-radius: $radius;
  color: #fff;
  font-size: 10px;
  letter-spacing: -0.8px;

  &.type {
    &-category {
      $size: 16px;
      $radius: 4px;
      font-size: 12px;
      color: #333;
      letter-spacing: -1px;
      padding: 0;
      background-color: transparent;
      i {
        display: inline-flex;
        width: $size;
        height: $size;
        align-items: center;
        justify-content: center;
        margin-right: 3px;
        font-size: 11px;
        color: #fff;
        letter-spacing: -1px;
        font-style: normal;
        border-radius: $radius;
        font-weight: 700;
        &.m {
          background-color: #dc5782;
          border: 1px solid #a53c60;
        }
        &.d {
          background-color: #f4a332;
          border: 1px solid #c87e04;
        }
        &.s {
          background-color: #309499;
          border: 1px solid #1e787c;
        }
        &.x {
          background-color: #7a4986;
          border: 1px solid #592465;
        }
        &.b {
          background-color: #3d3bad;
          border: 1px solid #252378;
        }
      }
    }
    &-outline {
      $radius: 8px;
      $size: 15px;
      height: 15px;
      padding: 0 6px;
      border: 1px solid #5bb4d1;
      border-radius: $radius;
      font-size: 9px;
      color: #5bb4d1;
      letter-spacing: -0.8px;
      background-color: #fff;
    }
  }

  &-group {
    display: flex;
    height: $size-group;
    align-items: center ;
    padding: 0 10px ; 
    gap:10px ; 
    border : 1px solid nth($clrs-border, 2) ; 
    border-radius: 3px ;
    #{$ow-tag} {
    }
  }
}

.ow-state-wrap{
  display: inline-flex;
  align-items: center;

  .ow-state-title{
    font-weight: bold;
    padding-right: 10px;
    & + .ow-state-item{ 
      margin-left: 0;
      padding-left: 0;
      &::after{
        display: none;
      }
    }
  }
  
  .ow-state-item{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.6px;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    margin-left: 8px;
    padding-left: 8px;
    span{
      padding-left: 4px;
    }

    &::after{
      content:"";
      position: absolute;
      left: 0; top: 50%;
      transform: translateY(-50%);
      width: 1px; height: 12px;
      display: inline-block;
      background-color: #c9c9c9;
    }

    @at-root .state-circle{
      width: 8px; height: 8px;
      border-radius: 50%;
      display: inline-flex;
      &.color{
        &-blue{background-color: #3b6bb4;}
        &-green{background-color: #7cc95c;}
        &-red{background-color: #f66566;}
      }
    }
  
  }
}
