$clrs-base: getColors('base');
$clrs-achromatic: getColors('achromatic');
$clrs-point: getColors('point');
$clrs-accent: getColors('accent');
$clrs-border: getColors('border');

$ow-info: '.ow-info';
$ow-card: '.ow-card';
$gap: 10px;
$size: 4px;
$height: 28px;
$radius: 2px;

#{$ow-info}-list{
  display: flex;
  justify-content: space-between;
  padding: 15px 16px;
  border: 1px solid #979797;
  border-radius: $size;
  background-color: nth($clrs-achromatic, 13);
  color: nth($clrs-achromatic, 2);
  box-shadow: 0 4px 8px 0 rgba(14, 31, 53, 0.1), 0 1px 4px 0 rgba(14, 31, 53, 0.12);
  overflow: hidden;

  #{$ow-info}-item{
    display: flex;
    padding-left: $gap;
    margin-left: $gap;
    border-left: 1px solid #abacad;

    &:first-child{
      margin-left: 0;
      padding-left: 0;
      border-left: 0;
    }

    #{$ow-info}-number{
      font-weight: bold;
      color: #979797;
      padding-right: 15px;
      margin-right: 15px;
      border-right: 1px solid #d7dce3;
    }

    #{$ow-info}-key{
      display: inline-flex;
      align-items: center;
      flex: 0 0 auto;
      font-weight: bold;
      margin-right: $gap;
      &::before{
        content: "";
        display: inline-flex;
        width: $size;
        height: $size;
        margin-right: $size;
        background-color: nth($clrs-achromatic, 2);
      }
    }

    #{$ow-info}-value{
      flex: 1;
      padding-right: 2px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break:keep-all;
      word-wrap:break-word;
    }

    #{$ow-info}-btns{
      display: inline-flex;
      .ow-btn{
        flex: 0 0 auto;
        margin: 0 0 0 4px;
        &:first-child{
          margin-left: 0;
        }
      }
    }
    
  }

  &.disabled{
    color: #b9bdc2;
    #{$ow-info}-key:before{
      background-color: #b9bdc2;
    }
    #{$ow-info}-item{
      user-select: none;
    }
  }
}

#{$ow-card}-header{
  @include d-flex(center, center);
  
  position: relative;
  height: $height;
  border-radius: $radius;
  background-color: nth($clrs-base, 11);
  
  &.ow-color {
    background-color: nth($clrs-base, 5);

    h2 {
      color: white;
    }
  }
  
  #{$ow-card}-date{
    color: #333;
    font-size: 12px;
    letter-spacing: -0.6px;
  }
  
  h2 {
    color: nth($clrs-achromatic, 2);
  }

  .btn-wrap {
    @include pos-center(0, 50%);

    left: inherit;
    right: 10px;
  }

  + .ow-table {
    margin-top: 10px;
  }
}

#{$ow-card}-body {
  position: relative;
  display: flex;
  
  &.column {
    flex-direction: column ;
    padding: 0 $gap;
  }

  &.border {
    @include border(1px, nth($clrs-border, 1));
  }

  .fixed-bottom {
    position: absolute;
    left: $gap;
    bottom: 0;
    width: calc( 100% - ($gap * 2));
  }

  #{$ow-card}-item-info{
    min-width: 238px;
    overflow: hidden;
    li{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 21px;
      font-size: 12px;
      color: #333;

      #{$ow-card}-item-name{
        width: 182px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break:keep-all;
        word-wrap:break-word;
      }
      #{$ow-card}-item-count{ color: #979797; }
    }
  }
}

#{$ow-card}-item {
  padding: $gap 0;
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    border-bottom: 1px solid nth($clrs-border, 1);
  }

  li {
    @include d-flex(space-between, center);

    padding: 2px 0;
  }

  span {
    &.gary {
      color: nth($clrs-achromatic, 6);
    }
    
    &.point {
      font-weight: bold;
      color: nth($clrs-base, 3);
    }
  }
}

.ow-product-list{
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(134px, 1fr));
  border-top: 1px solid #e2e6ec;
  border-left: 1px solid #e2e6ec;

  .ow-product-item{
    position: relative;
    height: 58px;
    border: 1px solid #e2e6ec;
    border-left: 0;
    border-top: 0;
    cursor: pointer;

    &::before{
      content:"";
      position: absolute; z-index: 1;
      left: -1px; top: -1px;
      width: calc(100% + 2px); height: calc(100% + 2px);
      display: none; background-color: #bdddfd;
      border: 1px solid #4789cb;
    }

    &.active::before{
      display: block;
    }

    .ow-product-info{
      position: relative; z-index: 2;
      padding: 10px 8px;
      .ow-product-name, .ow-product-price{ 
        color: #333; font-size: 12px;
        letter-spacing: -0.6px;
        display: block; 
      }
      .ow-product-name{
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break:keep-all;
        word-wrap:break-word;
      }
      .ow-product-price{
        margin-top: 5px;
        font-weight: bold;
      }
    }

  }
}

.separate-list{
  display: flex;
  justify-content: normal;
  align-items: center;
  margin: 0;
  .separate-list-item{
    position: relative;
  }
}

.ow-card-wrap {
  &.inner {
    @include border(1px, nth($clrs-border, 2));
  
    padding: var(--gap, 10px);
    background-color: nth($clrs-achromatic, 10);
  }
}

.ow-tree-wrap {
  @include border(1px, nth($clrs-border, 2));

  .ow-tree-head {
    padding: var(--bs-gutter);
    border-bottom: 1px dashed nth($clrs-achromatic, 9);
  }

  .ow-tree-body {
    padding: calc(var(--bs-gutter) * 0.5);
  }
}

// 피킹시간 설정 박스
.notifi{
  display: flex;
  flex-direction: column ;
  width: 100% ;
  &-row {
    width: 100% ;
    display: flex;
    border : 1px solid #979797; 
    border-radius: 4px ;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(14, 31, 53, 0.1), 0 1px 4px 0 rgba(14, 31, 53, 0.12);
    &:not(:last-child) { margin-bottom: 8px ; }
  }
  &-col{
    position: relative;
    display: flex;
    flex : 1 1 auto ;
    height: 48px ;
    align-items: center ;
    &.count{ 
      flex : 0 0 46px ; 
      justify-content: center ; 
      color: nth($clrs-achromatic, 6);
      font-weight: 700 ;
    }
    &.btns{
      flex : 0 0 84px ; 
      gap:4px ; 
    }
    &.time{ flex-basis: 2 ; }
    &:not(.count){
      padding-left: 20px ;
      &:before {
        content :"" ; 
        display: inline-flex;
        width: 1px; 
        height:auto ;
        position: absolute;
        left: 0 ; top:13px; bottom:13px; 
        background-color: #d7dce3;
      }
    }
    dl {
      display: flex;
      dt , dd {
        display: flex;
        align-items: center ;
        font-size:12px ; 
        letter-spacing: -1px; 
        color: nth($clrs-achromatic, 2);
      }
      dt{
        margin-right: 10px ;
        font-weight: 700 ;
        &:before {
          content:""; 
          display: inline-flex;
          width: 4px; height:4px;
          margin-right: 4px ;
          background-color: #3b3b3b ;
        }
      }
    }
  }
}

.tree-memu-type-1{
  display: flex;
  flex-direction: column ;
  width: var( --menu-size , 100% ) ;

  > .menu-item {
    > .menu-btn {
      position: relative;
      display: flex;
      width: 100% ; height: 32px ;
      align-items: center ;
      padding:0 16px ; 
      color: nth($clrs-achromatic, 2);
      font-size:13px; 
      font-weight: 700 ;
      letter-spacing: -.5px ;
      background-color: #fff;
      box-shadow: 0 4px 8px 0 rgba(14, 31, 53, 0.1), 0 1px 4px 0 rgba(14, 31, 53, 0.12) , inset 0 -1px 0 0 #e2e6ec;
      // box-shadow: inset 0 -1px 0 0 #e2e6ec;
      .arrow {
        position: absolute;
        right: 0 ; top: 0; 
        display: flex;
        width: 32px; height:32px ;
        align-items: center ; justify-content: center ;
        &:after {
          content :"" ; 
          display: inline-flex;
          border-bottom: 2px solid #525c68;
          border-right: 2px solid #525c68;
          width: 8px;
          height: 8px;
          transform: translateY( -2px ) rotate(45deg);
        }
      }
    }
    &.expand {
      > .menu-btn {
        .arrow {
          &:after {
            transform: translateY( 2px ) rotate(-135deg);
          }
        }
      }
      > .menu-submenu { display: flex ;}
    }
  }
  .menu-submenu {
    display: none;
    flex-direction: column ;
    gap:4px ; 
    padding:10px ; 
    .menu-btn {
      position: relative;
      display: flex;
      width: 100% ; height:24px; 
      align-items: center ;
      justify-content: center ;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1) ;
      border: solid 1px #cbd5de;
      background-color: #fff;
      font-size:13px ; 
      color:#666 ; 
      font-weight: 700 ;

      &.active {
        background-color: #5d7b92;
        border-color:#506574 ; 
        color:#fff ; 
      }

      &.add {
        justify-content: flex-start;
        padding-left:22px ;
        margin-top:6px ;
        &:after {
          content :"" ; 
          display: inline-flex;
          width: 10px ; height:10px; 
          position: absolute;
          right: 10px; top:50%; transform:translateY( -50% ) ; 
          background: url(~@/assets/images/icon/icon-add.png) no-repeat 0 0;
        }
      }
    }
  }
}

.tree-memu-type-2{
  position: relative;
  display: flex;
  width:var( --menu-size, 100% ) ;  height:100% ; 
  padding:8px; 
  overflow-y:auto ; 
  flex-direction: column ;
  border : 1px solid #d7dce3;
  line-height: 1.5 ;

  .menu-info{
    position: absolute;
    right : 15px ; top: 8px ; 
    font-size:10px; 
    color: nth($clrs-achromatic, 2);
    letter-spacing: -.5px ;
  }
  .menu-item {
    .menu-btn{
      display: flex;
      font-size:12px;
      color: nth($clrs-achromatic, 2);
      letter-spacing: -.5px ;
      align-items: center ;
      strong { font-weight: 700 ;}
    }
    .menu-submenu {
      flex-direction: column ;
      display: none ;
      padding-left: 10px ; 
    } 

    &.has-sub > .menu-btn { // 서브 메뉴를 가지고 있는 경우에만 아이콘 표시
      &:before {
        content :"" ; 
        display: inline-flex;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 0 6px 10px;
        border-color: transparent transparent transparent nth($clrs-achromatic, 2);
        margin-right: 4px ;
      }
    }

    &.expand.has-sub {
      > .menu-btn {
        &:before {
          transform: rotate(90deg);
        }
      }
      > .menu-submenu { display: flex ; }
    }

    &:not(.has-sub) {
      padding-left: 14px ;
    }
  }
}

// 위즈모 List
.ow-tree-menu{
  &.type-1 {}
  &.type-2 {
    display: flex;
    flex-direction: column ;
    width: var( --menu-size , 100% ) ;
    overflow: visible ;

    > .wj-nodelist{
      // 1depth
      > .wj-node{
        position: relative;
        display: flex;
        width: 100% ; height: 32px ;
        align-items: center ;
        padding:0 16px ; 
        color: nth($clrs-achromatic, 2);
        font-size:13px; 
        font-weight: 700 ;
        letter-spacing: -.5px ;
        background-color: #fff;
        box-shadow: 0 4px 8px 0 rgba(14, 31, 53, 0.1), 0 1px 4px 0 rgba(14, 31, 53, 0.12) , inset 0 -1px 0 0 #e2e6ec;
        &:before {
          position: absolute;
          right : 10px; top:50% ; 
          margin:0; opacity: 1 ;
          display: inline-flex;
          border-bottom: 2px solid #525c68;
          border-right: 2px solid #525c68;
          border-top:0 ; 
          border-left: 0 ; 
          width: 8px;
          height: 8px;
          transform: translateY( -50% ) rotate(-135deg);
        }
        &.wj-state-collapsed{
          &:before {
            transform: translateY( -50% ) rotate(45deg);
          }
        }
        .wj-node-text{}
        // 닫혀있을 경우
        &.wj-state-collapsed{}
      }
      // 2depth
      > .wj-nodelist{
        display: flex;
        padding:10px ; 
        flex-direction: column ;
        gap:4px ; 
        .wj-node{
          position: relative;
          display: flex;
          width: 100% ; height:24px; 
          align-items: center ;
          justify-content: center ;
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1) ;
          border: solid 1px #cbd5de;
          background-color: #fff;
          font-size:13px ; 
          color:#666 ; 
          font-weight: 700 ;
          padding:0; 
          &:before {
            content : none ; 
          }
          &:not(.add-item).wj-state-selected{
            background-color: #5d7b92;
            border-color:#506574 ; 
            color:#fff ; 
          }
          &.add-item {
            justify-content: flex-start;
            padding-left:22px ;
            margin-top:6px ;
            &:after {
              content :"" ; 
              display: inline-flex;
              width: 10px ; height:10px; 
              position: absolute;
              right: 10px; top:50%; transform:translateY( -50% ) ; 
              background: url(~@/assets/images/icon/icon-add.png) no-repeat 0 0;
            }
          }
          .wj-node-text{}
        }
      }
    }
  }
}
